<div class="flex flex-col min-h-screen h-screen items-center my-10">
    <div class="flex flex-row justify-center h-16 rounded  w-10/12 mx-auto my-4 gap-2 ">
        <div class="flex justify-center w-full rounded  "><input type="text" name="task" placeholder="Add a task" [(ngModel)]="newTask" (keydown.enter)="updateTaskList()" class="w-full px-4 bg-slate-50 rounded-xl"></div>
       <div class="flex justify-center w-1/12 bg-green-200 rounded-md hover:bg-green-600" (click)="updateTaskList()"><button >ADD</button></div>
    </div>
    <div class=" w-10/12 mx-auto text-white">
        <h1 class="text-gray-600 font">Task List </h1>
        @for(task of taskList; track $index){
            <app-task-card [task]="task" [index]="$index" (deleteTask)="deleteTask($event)" (completeTask)="completeTask($event)"></app-task-card>
        }  
    </div>
    <div class=" w-10/12 mx-auto text-white">
        <h1 class="text-gray-600">Completed Task </h1>
        @for(task of completedTaskList; track $index){
            <app-task-card [task]="task" [index]="$index" (deleteTask)="deleteCompletedTask($event)" (completeTask)="unCompleteTask($event)"></app-task-card>
        }  
    </div>
    
</div>